<a href="https://colab.research.google.com/github/kelixirr/Complete-Machine-Learning-And-Data-Science-Course/blob/main/NumPy_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## NumPy Tutorial For Data Science And Machine Learning 

### What is an array: 
**informal definition**: Array is nothing but a collection of elements with same datatypes. We use array to store information with same datatypes. Unlike python lists it only accepts elements with same datatypes at a time. 

**Standard Definition**: An array is a collection of items of same data type stored at contiguous memory locations. 

They are also more compact and take up less memory and space which makes them more size efficient compared to lists. We also. Using python array library you can work with simple array but for advance mathematical calculations in the field of data science or machine will use Numpy arrays which allows us to work with multidimensional arrays. 

### NumPy
NumPy is the fundamental package for scientific computing in Python. It is a Python library that provides a multidimensional array object, various derived objects (such as masked arrays and matrices), and an assortment of routines for fast operations on arrays, including mathematical, logical, shape manipulation, sorting, selecting, I/O, discrete Fourier transforms, basic linear algebra, basic statistical operations, random simulation and much more.

At the core of the NumPy package, is the `ndarray` object. This encapsulates n-dimensional arrays of homogeneous data types, with many operations being performed in compiled code for performance. 

- NumPy arrays have a fixed size at creation. Changing the size of an ndarray will create a new array and delete the original.
- The elements in a NumPy array are all required to be of the same data type. 
- NumPy arrays facilitate advanced mathematical and other types of operations on large numbers of dat. 

Further Read: 
1. Documentation: https://numpy.org/doc/stable/user/whatisnumpy.html
2. Python Arrays: https://www.freecodecamp.org/news/python-array-tutorial-define-index-methods/

This course is offered by **Odist Academy** and we keep all the rights reserved. Please enroll in course from here: https://pages.razorpay.com/odist-academy-data-science

In [ ]:
# importing NumPy in our notebook
import numpy as np

In [ ]:
# creating zero dimensional array - also called scaler
zero_d = np.array(2)
zero_d

array(2)

In [ ]:
# checking the type of zero-d array 
type(zero_d)

numpy.ndarray

In [ ]:
# checking basics attributes of the object Numpy array
# shape (the number of axes (dimensions) of the array.) 
# dimension (the dimensions of the array. For a matrix with n rows and m columns, shape will be (n,m). The length of the shape tuple is therefore the number of axes, ndim.)
# dtype(an object describing the type of the elements in the array)
# size of one-d array (total number of elements of the array)

zero_d.shape, zero_d.ndim, zero_d.dtype, zero_d.size, zero_d.itemsize

((), 0, dtype('int64'), 1, 8)

In [ ]:
# creating one-dimensional array - also called vectors
one_d = np.array([1, 2, 3, 4, 5])
one_d

array([1, 2, 3, 4, 5])

In [ ]:
# checking the basics
type(one_d), one_d.shape, one_d.ndim, one_d.dtype, one_d.size, one_d.itemsize

(numpy.ndarray, (5,), 1, dtype('int64'), 5, 8)

In [ ]:
#creating two-dimentional array 
two_d = np.array([1, 2, 3, 4, 5], [6, 7, 8, 9, 10])   # result in error as it accepts only one object argument
two_d

TypeError: ignored

In [ ]:
two_d = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])  # close them in brackets - 2-d arrays are also called matrix
two_d

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [ ]:
# checking its basics
type(two_d), two_d.shape, two_d.ndim, two_d.dtype, two_d.size, two_d.itemsize

(numpy.ndarray, (2, 5), 2, dtype('int64'), 10, 8)

In [ ]:
# creating three dimensional array
three_d = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]) # this will result in two array only. 
three_d

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [ ]:
print(three_d.ndim) 
print(three_d.shape)

2
(3, 5)

In [ ]:
# creating an actual three- d array 
three_3d = np.array([[[1, 2, 3, 4, 5],
                      [11, 12, 13, 14, 15]],
                     [[6, 7, 8, 9, 10],
                      [16, 17, 18, 19, 20]]
                     ])
three_3d

array([[[ 1,  2,  3,  4,  5],
        [11, 12, 13, 14, 15]],

       [[ 6,  7,  8,  9, 10],
        [16, 17, 18, 19, 20]]])

In [ ]:
three_3d.ndim

3

In [ ]:
three_3d.shape

(2, 2, 5)

In [ ]:
# You can also specify the type of array 
c = np.array([[1, 2], [3, 4]], dtype=complex)
c

array([[1.+0.j, 2.+0.j],
       [3.+0.j, 4.+0.j]])

Understanding Axes: 
https://towardsdatascience.com/understanding-axes-and-dimensions-numpy-pandas-606407a5f950

Often, the elements of an array are originally unknown, but its size is known. In that case you can use:

In [ ]:
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [ ]:
np.ones((3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [ ]:
np.empty((3,2))  #creates an array whose initial content is random and depends on the state of the memory

array([[1.9714721e-316, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000]])

In [ ]:
np.ones((2, 3, 4), dtype=np.int16) # you can also specify the type using dtype if you don't want the result in float format

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]], dtype=int16)

In [ ]:
# Python range function 
x = range(1, 10, 2)
for i in x:
  print(i)

1
3
5
7
9

In [ ]:
# Python range function another example 
y = range(10) # it starts at zero and step increment one one
for i in y:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Numpy range function for creating array 
np.arange(10, 20, 3)

array([10, 13, 16, 19])

In [ ]:
np.arange(2.4, 10.5, 1.2)

array([2.4, 3.6, 4.8, 6. , 7.2, 8.4, 9.6])

When arange is used with floating point arguments, it is generally not possible to predict the number of elements obtained, due to the finite floating point precision. For this reason, it is usually better to use the function linspace that receives as an argument the number of elements that we want, instead of the step

In [ ]:
np.linspace(2, 4, 9)

array([2.  , 2.25, 2.5 , 2.75, 3.  , 3.25, 3.5 , 3.75, 4.  ])

In [ ]:
np.arange(10000) #everything is not printed when array is too big

array([   0,    1,    2, ..., 9997, 9998, 9999])

In [ ]:
np.random.rand(2,3) # prints random array between 0 to 1

array([[0.02857961, 0.23010165, 0.67529917],
       [0.45003578, 0.22570575, 0.03934367]])

In [ ]:
np.random.random((2,3)) # takes one positional argument prints random array between 0 to 1

array([[0.0850839 , 0.02982495, 0.34424771],
       [0.91077887, 0.75931856, 0.42097045]])

In [ ]:
np.random.randint(10, size=3)

array([4, 2, 7])

In [ ]:
np.random.randint(1000, size=(10,4))

array([[663, 379, 686, 455],
       [885, 422, 773, 525],
       [372, 166, 667, 141],
       [ 73, 200, 771, 266],
       [495, 951, 203,  25],
       [966, 116, 879, 756],
       [568, 942, 591, 653],
       [113, 856, 997, 669],
       [807, 128, 489,  11],
       [473, 771, 296, 553]])

More on randint here https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html

In [ ]:
# random seed 
np.random.seed(42)
np.random.rand(3, 4)

array([[0.37454012, 0.95071431, 0.73199394, 0.59865848],
       [0.15601864, 0.15599452, 0.05808361, 0.86617615],
       [0.60111501, 0.70807258, 0.02058449, 0.96990985]])

In [ ]:
# random seed 
np.random.seed(42)
np.random.rand(3,4)

array([[0.37454012, 0.95071431, 0.73199394, 0.59865848],
       [0.15601864, 0.15599452, 0.05808361, 0.86617615],
       [0.60111501, 0.70807258, 0.02058449, 0.96990985]])

In [ ]:
# without random seed every time you run the cell numbers will be different
np.random.rand(3, 4)

array([[0.30461377, 0.09767211, 0.68423303, 0.44015249],
       [0.12203823, 0.49517691, 0.03438852, 0.9093204 ],
       [0.25877998, 0.66252228, 0.31171108, 0.52006802]])

## Basic Operation In NumPy

In [ ]:
a = np.array([[1, 1],
              [0, 1]])
b = np.array([[2, 0],
              [3, 4]])
print(a), print(b)

[[1 1]
 [0 1]]
[[2 0]
 [3 4]]

(None, None)

In [ ]:
a + b

array([[3, 1],
       [3, 5]])

In [ ]:
a - b

array([[-1,  1],
       [-3, -3]])

In [ ]:
a * b # see the operation here is happening element wise

array([[2, 0],
       [0, 4]])

In [ ]:
a @ b # matrix product just like mathematics

array([[5, 4],
       [3, 4]])

In [ ]:
a.dot(b) # another way for matrix product

array([[5, 4],
       [3, 4]])

In [ ]:
b**2

array([[ 4,  0],
       [ 9, 16]])

In [ ]:
a / 2

array([[0.5, 0.5],
       [0. , 0.5]])

In [ ]:
a / b

<ipython-input-83-a2c3c55d7cc4>:1: RuntimeWarning: divide by zero encountered in true_divide
  a / b

array([[0.5 ,  inf],
       [0.  , 0.25]])

In [ ]:
a // b

<ipython-input-84-97ae6b8c7713>:1: RuntimeWarning: divide by zero encountered in floor_divide
  a // b

array([[0, 0],
       [0, 0]])

In [ ]:
b // a

<ipython-input-85-b95a82f0c12a>:1: RuntimeWarning: divide by zero encountered in floor_divide
  b // a

array([[2, 0],
       [0, 4]])

In [ ]:
np.exp(a) # takes exponential

array([[2.71828183, 2.71828183],
       [1.        , 2.71828183]])

In [ ]:
np.log(b) # take log

<ipython-input-87-3f8f764f67ee>:1: RuntimeWarning: divide by zero encountered in log
  np.log(b)

array([[0.69314718,       -inf],
       [1.09861229, 1.38629436]])

In [ ]:
a % 2

array([[1, 1],
       [0, 1]])

In [ ]:
np.sqrt(b)

array([[1.41421356, 0.        ],
       [1.73205081, 2.        ]])

In [ ]:
np.sum(a)

3

In [ ]:
np.median(a)

1.0

In [ ]:
np.std(a)

0.4330127018922193

In [ ]:
np.mean(a)

0.75

In [ ]:
np.max(b)

4

In [ ]:
np.min(b)

0

In [ ]:
np.var(b) # finds variance

2.1875

In [ ]:
np.argmax(b) #find index of maximum value

3

In [ ]:
np.argmin(b) #find index of minimum  value

1

In [ ]:
np.argmax(b, axis=0)

array([1, 1])

In [ ]:
# Transposing a matrix  
b.T

array([[2, 3],
       [0, 4]])

In [ ]:
b

array([[2, 0],
       [3, 4]])

In [ ]:
a < b

array([[ True, False],
       [ True,  True]])

In [ ]:
b <= a

array([[False,  True],
       [False, False]])

In [ ]:
a != 3

array([[ True,  True],
       [ True,  True]])

In [ ]:
b != 3

array([[ True,  True],
       [False,  True]])

In [ ]:
np.sum(a > 2)

0

In [ ]:
np.sort(b)

array([[0, 2],
       [3, 4]])

In [ ]:
np.argsort(b)

array([[1, 0],
       [0, 1]])

In [ ]:
b

array([[2, 0],
       [3, 4]])

In [ ]:
# reshaping 
s = np.random.rand(3,4)
s

array([[0.00552212, 0.81546143, 0.70685734, 0.72900717],
       [0.77127035, 0.07404465, 0.35846573, 0.11586906],
       [0.86310343, 0.62329813, 0.33089802, 0.06355835]])

In [ ]:
s.shape

(3, 4)

In [ ]:
rs = s.reshape(3, 2, 2)  # use this function to reshape but keep in mind that size should be same in all that means product of the numbers should be same in the argument 
rs

array([[[0.00552212, 0.81546143],
        [0.70685734, 0.72900717]],

       [[0.77127035, 0.07404465],
        [0.35846573, 0.11586906]],

       [[0.86310343, 0.62329813],
        [0.33089802, 0.06355835]]])

In [ ]:
ry = s.reshape(2, 1, 6)
ry

array([[[0.00552212, 0.81546143, 0.70685734, 0.72900717, 0.77127035,
         0.07404465]],

       [[0.35846573, 0.11586906, 0.86310343, 0.62329813, 0.33089802,
         0.06355835]]])

In [ ]:
s.reshape(12, 1)

array([[0.00552212],
       [0.81546143],
       [0.70685734],
       [0.72900717],
       [0.77127035],
       [0.07404465],
       [0.35846573],
       [0.11586906],
       [0.86310343],
       [0.62329813],
       [0.33089802],
       [0.06355835]])

More functions from here: https://numpy.org/doc/stable/reference/index.html

## Broadcasting
The term broadcasting describes how NumPy treats arrays with different shapes during arithmetic operations. Subject to certain constraints, the smaller array is “broadcast” across the larger array so that they have compatible shapes.

NumPy Broadcasting: https://numpy.org/doc/stable/user/basics.broadcasting.html#basics-broadcasting

![1_lY8Ve6Uz_bqVI5NPh5RPZA.webp]()

Above image source: https://towardsdatascience.com/broadcasting-in-numpy-58856f926d73

**Broadcasting rules:**

1. Make the two arrays have the same number of dimensions.
   1. If the numbers of dimensions of the two arrays are different, add new dimensions with size 1 to the head of the array with the smaller dimension.
   
2. Make each dimension of the two arrays the same size.

   1. If the sizes of each dimension of the two arrays do not match, dimensions with size 1 are stretched to the size of the other array. 

  2. If there is a dimension whose size is not 1 in either of the two arrays, it cannot be broadcasted, and an error is raised.

Further Read: https://note.nkmk.me/en/python-numpy-broadcasting/

In [ ]:
# let's create an array for broadcasting

a = np.array([1, 2, 3, 4])
b = np.array(1) 

print(a.shape), print(b.shape)

(4,)
()

(None, None)

In [ ]:
a + b

array([2, 3, 4, 5])

In [ ]:
c = np.array([2, 3]) 
c.shape

(2,)

In [ ]:
a + c

ValueError: ignored

In [ ]:
d = np.array([[1],
              [2]])

print(d.shape)

(2, 1)

In [ ]:
a + d

array([[2, 3, 4, 5],
       [3, 4, 5, 6]])

In [ ]:
e = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

In [ ]:
e.shape

(2, 5)

In [ ]:
a.shape

(4,)

In [ ]:
a + e

ValueError: ignored

In [ ]:
f = np.array([[1, 2, 3, 4],   # with the changed shape it won't create any error. 
              [6, 7, 8, 9], 
              [1, 2, 3, 4], 
              [1, 2, 3, 4],
              [1, 2, 3, 4]])

In [ ]:
a + f

array([[ 2,  4,  6,  8],
       [ 7,  9, 11, 13],
       [ 2,  4,  6,  8],
       [ 2,  4,  6,  8],
       [ 2,  4,  6,  8]])

In [ ]:
f.shape

(5, 4)

In [ ]:
a * c

ValueError: ignored

In [ ]:
a * f

array([[ 1,  4,  9, 16],
       [ 6, 14, 24, 36],
       [ 1,  4,  9, 16],
       [ 1,  4,  9, 16],
       [ 1,  4,  9, 16]])

Please watch our video to understand the broadcasting concept clearly.

## Indexing and slicing: NumPy Array

In [ ]:
ab = np.array([1, 2, 3, 4, 5])  #one-d array

ab, ab.shape, ab.ndim

(array([1, 2, 3, 4, 5]), (5,), 1)

In [ ]:
ab[0]

1

In [ ]:
ab[1]

2

In [ ]:
ab[:2]

array([1, 2])

In [ ]:
ab[0:4]

array([1, 2, 3, 4])

In [ ]:
ab[0:4:2]

array([1, 3])

In [ ]:
ab[:-1]

array([1, 2, 3, 4])

In [ ]:
ab[:-2]

array([1, 2, 3])

In [ ]:
ab[-1]

5

In [ ]:
bc = np.random.randint(10, size=(2, 3, 4))

In [ ]:
bc

array([[[4, 8, 4, 9],
        [6, 3, 2, 9],
        [4, 5, 8, 9]],

       [[4, 2, 4, 1],
        [3, 2, 8, 1],
        [0, 0, 0, 5]]])

In [ ]:
bc[0]

array([[4, 8, 4, 9],
       [6, 3, 2, 9],
       [4, 5, 8, 9]])

In [ ]:
bc[0:1]

array([[[4, 8, 4, 9],
        [6, 3, 2, 9],
        [4, 5, 8, 9]]])

In [ ]:
bc[:]

array([[[4, 8, 4, 9],
        [6, 3, 2, 9],
        [4, 5, 8, 9]],

       [[4, 2, 4, 1],
        [3, 2, 8, 1],
        [0, 0, 0, 5]]])

In [ ]:
bc[0][0]

array([4, 8, 4, 9])

In [ ]:
bc[0][0][0]

4

In [ ]:
bc[:, :1]  # gives you first rows of both the arrays

array([[[4, 8, 4, 9]],

       [[4, 2, 4, 1]]])

In [ ]:
bc[:, 1:3, :2]

array([[[6, 3],
        [4, 5]],

       [[3, 2],
        [0, 0]]])

In [ ]:
bc[:1, :1, :2]

array([[[4, 8]]])

In [ ]:
bc[:, :2, :]

array([[[4, 8, 4, 9],
        [6, 3, 2, 9]],

       [[4, 2, 4, 1],
        [3, 2, 8, 1]]])

In [ ]:
cd = np.random.randint(10, size=(2, 3, 4, 5))
cd

array([[[[6, 0, 4, 1, 1],
         [0, 0, 1, 5, 4],
         [9, 5, 0, 7, 0],
         [2, 0, 5, 3, 3]],

        [[2, 7, 5, 7, 5],
         [2, 0, 9, 0, 1],
         [2, 9, 9, 5, 6],
         [7, 4, 5, 7, 4]],

        [[0, 9, 2, 1, 9],
         [1, 5, 8, 8, 3],
         [7, 0, 7, 0, 1],
         [5, 4, 9, 3, 4]]],


       [[[4, 1, 1, 2, 4],
         [0, 0, 4, 9, 4],
         [9, 3, 3, 3, 9],
         [2, 1, 3, 3, 9]],

        [[8, 1, 4, 3, 6],
         [8, 1, 7, 7, 2],
         [2, 5, 1, 7, 9],
         [2, 1, 4, 0, 4]],

        [[3, 7, 4, 2, 2],
         [5, 1, 4, 9, 9],
         [7, 9, 6, 9, 8],
         [0, 0, 5, 2, 5]]]])

In [ ]:
cd[:, :, :, :2]

array([[[[7, 5],
         [9, 4],
         [3, 3],
         [4, 1]],

        [[7, 1],
         [9, 6],
         [7, 8],
         [1, 6]],

        [[5, 7],
         [6, 4],
         [1, 9],
         [2, 4]]],


       [[[5, 7],
         [9, 2],
         [7, 0],
         [0, 2]],

        [[4, 7],
         [5, 6],
         [9, 1],
         [3, 6]],

        [[5, 7],
         [8, 0],
         [6, 1],
         [1, 5]]]])

In [ ]:
cd[:2, :2 :2, :2]

array([[[[7, 5, 9, 5, 9],
         [9, 4, 7, 0, 1]]],


       [[[5, 7, 9, 7, 3],
         [9, 2, 2, 6, 2]]]])

**Some Extras:**

In [ ]:
a = np.arange(30)
b = a.reshape((2, -1, 3))  # -1 means "whatever is needed"
b.shape

b

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11],
        [12, 13, 14]],

       [[15, 16, 17],
        [18, 19, 20],
        [21, 22, 23],
        [24, 25, 26],
        [27, 28, 29]]])

In [ ]:
x = np.arange(0, 10, 2)
x

array([0, 2, 4, 6, 8])

In [ ]:
y = np.arange(5)
y

array([0, 1, 2, 3, 4])

In [ ]:
m = np.vstack([x, y])
m

array([[0, 2, 4, 6, 8],
       [0, 1, 2, 3, 4]])

You don't need to learn everything by heart. All you need to know is the basics and where to find what you don't know: 
More functions: https://numpy.org/doc/stable/reference/routines.math.html 

NumPy API references must read: https://numpy.org/doc/stable/reference/index.html

## Practice Questions
1. https://www.w3resource.com/python-exercises/numpy/index.php 
2. https://www.machinelearningplus.com/python/101-numpy-exercises-python/