<a href="https://colab.research.google.com/github/kelixirr/Complete-Machine-Learning-And-Data-Science-Course/blob/main/Python_Tutorials_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This course is offered by **Odist Academy** and we keep all the rights reserved. Please enroll in course from here: https://pages.razorpay.com/odist-academy-data-science

#Using Python As A Calculator 
- Addition
- Subtraction 
- Multiplication
- Division
- Floor Division
- Remainder 
- Power 
- Square Root 
- Complex Number 
- Comnjugate of Cpmplex 
- abs 
- Divmod

## Keyboard Shortcuts


1.   ctrl/command + shift to execute a shell 
2.   esc + a to create a code shell before the current one 
3.   esc + b to create a code shell after the current one
4.   ctrl/command + m + d to delete the shell

In [ ]:
# Addition 
2+2

4

In [ ]:
# Subtraction 
4.5-2 #subtracting int from float value

2.5

In [ ]:
# Multiplication 
3*3

9

In [ ]:
# Division 
8/4 # division always returns a floating point number

2.0

In [ ]:
# Floor Division 
19 // 3 # floor division discards the fractional part and gives round of result

6

In [ ]:
# Remainder 
19 % 3

1

In [ ]:
# Power 
5 ** 3

125

In [ ]:
# Power another way
pow(5,3)

125

In [ ]:
# Square Root 
4 ** (1/2)

2.0

In [ ]:
# Cube root 
pow(8, (1/3)) # to calculate the nth root of any number simply use (1/n) as the power.

2.0

In [ ]:
# absolute value or magnitude
abs(-45.09877)

45.09877

In [ ]:
# converting x to int or float 

x = 5 

int (x), float (x )

(5, 5.0)

In [ ]:
# complex number: complex ( complex part, imaginary part)

c = complex (5, 4) 
c

(5+4j)

In [ ]:
# conjugate of a complex number. A conjugate of a complex number is another complex number which has the same real part as the original complex number and the imaginary part has the same magnitude but opposite sign. If we multiply a complex number with its conjugate, we get a real number.

c.conjugate ()

(5-4j)

In [ ]:
# divmod : Gives the pair (x // y, x % y) as output 
divmod (9, 4)

(2, 1)

> 👋 **Must Read** :[ Difference between float, double and decimal. ](https://)

## Variables Names
- We use "=" to assign labels(name) to variables 
- Variable names are helpful when we are using one variable at different places 

A Python variable is a symbolic name that is a reference or pointer to an object. Once an object is assigned to a variable, you can refer to the object by that name. But the data itself is still contained within the object. 
[Further Read](https://realpython.com/python-variables/)

In [ ]:
# creating a varibale 
a = 20

In [ ]:
b = 30

In [ ]:
b = a

In [ ]:
a

20

In [ ]:
b

20

As you can see above that now 30 is not accessible by b because we have reassigned the value of a to b. This means when python notices that the variables refrencing to an object drops to zero it will no longer be accessible. This is called garbage collection: the memory allocatd to it will be used for something else.

In [ ]:
# You can also perform operations on these variables
c = a + b

In [ ]:
c  # output will be 40 as a and b are 20

40

### ID of the variable

In [ ]:
id(c)

9794336

In [ ]:
id(a), id(b)

(9793696, 9793696)

### Varibale Names Guidelines
1. Names can not start with a number but numbers can be used in between. 
2. Don't use spaces in the name, use _ instead.
3. Don't use symbols. 
4. Keep names in lowercase or maintain consitency. 
5. Avoid using the characters 'l', 'O' 'I' as single character variable names.
6. Avoid using reserved keywords in Python like "list", "for" and "str" 

> Naming Convention: [further read](https://peps.python.org/pep-0008/#naming-conventions)

**You can add, subtract, multiply and divide numbers with reassignment using +=, -=, *=, and /=.**

In [ ]:
a = 10 
a += 2
a

12

In [ ]:
a *= 2

In [ ]:
a

24

In [ ]:
b = 30 
b -= 2 
b

28

In [ ]:
b /= 14

In [ ]:
b

2.0

To check the type of the object assigned to any variable use type() built in function

In [ ]:
c = 30
d = 20.2 
e = "string"
f = False 
type(c), type(d), type(e), type(f)

(int, float, str, bool)

## Strings 
Strings are sequence in Pyhton which means Python knows about each letter of the strings. It is used to store text information.

In [ ]:
# creating a string 
"cat"

'cat'

In [ ]:
# you can also use single quote 
'cat'

'cat'

In [ ]:
# you can also use a sentence
"I am a cat"

'I am a cat'

In [ ]:
# if you want to get rid of single quote from the output 
print("cat")

cat

In [ ]:
# conflict with single or double quote
'I'm a cat'

SyntaxError: ignored

In [ ]:
# to resolve the conflict use combination 
"I'm a cat"

"I'm a cat"

In [ ]:
# or you can use escape sequence (\ is called escape character and some defined character followed by it is called escape sequence)
'I\'m a cat'

"I'm a cat"

In [ ]:
# adding a new line 
 "I am a cat
  I am a dog"

SyntaxError: ignored

In [ ]:
# to get rid of the error use \
"I am a cat\
 I am a dog"

'I am a cat I am a dog'

In [ ]:
# length of a string 
len('cat')

3

In [ ]:
a = "cat"
len(a)

3

### String indexing and slicing 
we use brackets [ ] after an object to call its index. Indexing starts at 0 in Python

In [ ]:
# create a string 
s = "Python"

In [ ]:
# Check
s

'Python'

In [ ]:
# check what is at the first index 
s[0]

'P'

In [ ]:
# check what is at the last index 
s[-1] # we use -1 for the last index in Python

'n'

To peform slicing we use : in pyhton.

In [ ]:
# Grab everything past the first term all the way to the end 
s[1:]

'ython'

In [ ]:
# get everything 
s[0:], s[:]

('Python', 'Python')

In [ ]:
s # no change in origincal s

'Python'

In [ ]:
# grab everyhting until 4th index 
s[:4] # notice 4th index is not included or the last one in the range

'Pyth'

In [ ]:
# get everything except the last one 
s[:-1]

'Pytho'

In [ ]:
s[-1:]

'n'

In [ ]:
# defining step/stride size
# get everything with step size of one, step size is defined in between two [from the index:upto the index:stepsize]
s[::1]

'Python'

In [ ]:
# in step size 2 get everyhting 
s[::2]

'Pto'

In [ ]:
s[2:5:2]

'to'

In [ ]:
# reverse the string (use this to reverse the string)
s[::-1]

'nohtyP'

### Properties of strings

In [ ]:
s[0] = 'L'

TypeError: ignored

This means once the string is created it becomes immutable.

In [ ]:
# but we can concatenate strings
s + ' is amazing'

'Python is amazing'

In [ ]:
# also you use * to create repetition 
p = 's'
p*20

'ssssssssssssssssssss'

### Built in string methods 
methods are functions inside the specific objects. We call them using dot(.) method() on the object. Always use '()' on method.

In [ ]:
c = 'circle'

In [ ]:
c.upper() # all letters will be uppercase

'CIRCLE'

In [ ]:
c.lower() # all letters to lowercase

'circle'

In [ ]:
c.capitalize() #capitalize first letter

'Circle'

In [ ]:
d = 'Pyhton iS Amazing'
d.swapcase() # returns a copy of d with uppercase alphabetic characters converted to lowercase and vice versa

'pYHTON Is aMAZING'

In [ ]:
d.title() #turns a copy of d in which the first letter of each word is converted to uppercase and remaining letters are lowercase

'Pyhton Is Amazing'

In [ ]:
d.capitalize() # only first letter is uppercase

'Pyhton is amazing'

In [ ]:
d.split() # split

['Pyhton', 'iS', 'Amazing']

In [ ]:
# Split by a specific element
d.split('Am')

['Pyhton iS ', 'azing']

In [ ]:
d.count('Python') #returns the number of non-overlapping occurrences of substring

0

In [ ]:
d.count('i', 0, 16)  #restricted to the number of occurrences within index range

2

In [ ]:
c.endswith('n')

False

In [ ]:
c.endswith('e')

True

### .format() method 

'String here {} then also {}'.format('something1','something2')

In [ ]:
print('I am a {}'.format('cat'))

I am a cat

In [ ]:
# you can also use f formatting 
name = 'cat'
print(f"I am a {name}")

I am a cat

In [ ]:
print(f"I am a {name!r}") # use !r to give single quote to the defined variable

I am a 'cat'

[Read More about f formating](https://realpython.com/python-formatted-output/)

## Lists 

Lists are mutable. There also sequence so slicing and indexing can be peformed on it as well.

In [ ]:
# create a list 
a = [1, 2, 3, 'Pyhton']
a

[1, 2, 3, 'Pyhton']

In [ ]:
len(a) # lenghth of the list

4

In [ ]:
a[0]

1

In [ ]:
a[::-1]

['Pyhton', 3, 2, 1]

In [ ]:
a[::2]

[1, 3]

In [ ]:
# concatenate list 
a + [4, 5,6]

[1, 2, 3, 'Pyhton', 4, 5, 6]

In [ ]:
b = [1, 3]

In [ ]:
b*2 # doubles the items in the list

[1, 3, 1, 3]

### List Methods

In [ ]:
b.append('Python') # add something permanently to the list. Takes exactly one item

In [ ]:
b

[1, 3, 'Python']

In [ ]:
b.pop() # eliminates last item 
b

[1, 3]

In [ ]:
b.pop(0) # you can specify index to be popped

1

In [ ]:
b

[3]

In [ ]:
d = [1, 3, 4, 2, 5 , 6]
d

[1, 3, 4, 2, 5, 6]

In [ ]:
d.reverse() # reverse the list 
d

[6, 5, 2, 4, 3, 1]

In [ ]:
d.sort() # sorts the list in alphabetical or acending manner.

In [ ]:
d

[1, 2, 3, 4, 5, 6]

### Nesting Lists

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
matrix = [list1, list2]

In [ ]:
matrix

[[1, 2, 3], [4, 5, 6]]

In [ ]:
matrix[0]

[1, 2, 3]

In [ ]:
# get the first item of the second list of the matrix 
matrix[1][0]

4

## Dictionaries
Dictionaries are mapping in which objects are defined by key unlike sequence such as list or strings.

In [ ]:
# create a dict or dictionaries using keys and values. values can be any object type
dict = {'key1':'value1','key2':'value2'}

In [ ]:
dict['key1']

'value1'

In [ ]:
dict2 = {'key1': [1, 2, 4], 'key2': 'Python', 'key3': 2023}

In [ ]:
dict2["key2"]

'Python'

In [ ]:
dict2['key2'][2] # you can use indexing or other methods on values of keys that allow it

't'

In [ ]:
dict2['key2'].upper() # You can also use methods of key values that allow the methods.

'PYTHON'

In [ ]:
dict2['key3'] += 20

In [ ]:
dict2['key3']

2043

In [ ]:
# create an empty dict 
dict3 = {}

In [ ]:
# you can assign to the dict key as well. 
dict3['key1'] = 1
dict3['key2'] = 3 
dict3

{'key1': 1, 'key2': 3}

### nested dictionaries

In [ ]:
dict4 = {'key1':{'nestedkey1': {"subnestedkey1": 123}}}
dict4

{'key1': {'nestedkey1': {'subnestedkey1': 123}}}

In [ ]:
dict4['key1']

{'nestedkey1': {'subnestedkey1': 123}}

In [ ]:
dict4['key1']['nestedkey1']['subnestedkey1']

123

In [ ]:
# dict methods 
dict4.keys(), dict4.values(), dict4.items()

(dict_keys(['key1']),
 dict_values([{'nestedkey1': {'subnestedkey1': 123}}]),
 dict_items([('key1', {'nestedkey1': {'subnestedkey1': 123}})]))

## Tuples
Tuples are like lists but they are immutable. You can use tuples when immutability is important in your code.

In [ ]:
# create a tuple Note: it can also take mixed data types. 
t = (1, 3, 4, 5, 2)
t

(1, 3, 4, 5, 2)

In [ ]:
len(t)

5

In [ ]:
# you can also use indexing and slicing 
t[3]

5

In [ ]:
t[::-1]

(2, 5, 4, 3, 1)

In [ ]:
t.index(3) # returns the index of the entered object fromn the tuple

1

In [ ]:
t.count(2) # count the value of entered object from the tuples.

1

In [ ]:
t[-1] = 9  # tuples are immutable

TypeError: ignored

## Sets
A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference

Set items are unordered, unchangeable, and do not allow duplicate values.

In [ ]:
# to create a set use set() function
myset = set()
myset

set()

In [ ]:
# add one item by add method. Takes one argument"
myset.add(1)
myset

{1}

In [ ]:
# How to create a set 
set1 = {1, 2, 3, 4 , 5, 4, 3 ,4 ,5 }
set1 # notice the output did not produce repeated items.

{1, 2, 3, 4, 5}

In [ ]:
# let's create two sets 
a = set('abracadabra')
b = set('alacazam')
a, b

({'a', 'b', 'c', 'd', 'r'}, {'a', 'c', 'l', 'm', 'z'})

In [ ]:
a - b  # letters in a but not in b

{'b', 'd', 'r'}

In [ ]:
a | b         # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [ ]:
a & b        # letters in both a and b

{'a', 'c'}

In [ ]:
a ^ b       # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

## Booleans 
Booleans are basically True or False ( 1 or 0 )

### Comparison Operator


<tbody>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">&lt;</span></code></p></td>
<td><p>strictly less than</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">&lt;=</span></code></p></td>
<td><p>less than or equal</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">&gt;</span></code></p></td>
<td><p>strictly greater than</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">&gt;=</span></code></p></td>
<td><p>greater than or equal</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">==</span></code></p></td>
<td><p>equal</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">!=</span></code></p></td>
<td><p>not equal</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">is</span></code></p></td>
<td><p>object identity</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">is</span> <span class="pre">not</span></code></p></td>
<td><p>negated object identity</p></td>
</tr>
</tbody>

In [ ]:
10 < 30, 20 <10

(True, False)

In [ ]:
10 <= 30

True

In [ ]:
2 == 4

False

In [ ]:
2 != 4

True

In [ ]:
2 is 4

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-29-ca1c97150655>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2 is 4

False

In [ ]:
2 is not 4

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-30-3764dc052198>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  2 is not 4

True

### Logical Operators
Logical operatpors are used in decision making and return boolean. 
and, or, not

In [ ]:
5 > 2 and 5 > 6

False

In [ ]:
5 > 2 or 5 > 6

True

In [ ]:
# not operator is used when to show you True if the operand is False and vice-versa.
not( 5 > 2 or 5 > 6 )

False

### Membership operators 
checks whtether something is in the sequence or not. In | not In

In [ ]:
# let's create a list 
list1 = [1, 2, 3]
 
3 in list1

True

In [ ]:
5 in list1, 5 not in list1

(False, True)

## Python Statements 
### If, elif, else 
```
If case 1 happens: 
   do this
elif case 2 happens:
   do this 
else if none of the above two happens: 
   do this
```

In [ ]:
a = 30 
b = 20 

if a == b:
  print('Yes, it is correct')
elif a != b:
  print('It is incorrect')

It is incorrect

In [ ]:
a = 33
b = 200

if b > a:
  pass    #if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

## For Loops

In [ ]:
# creating a list 

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for item in list1:    #here you can use any name inplace of item but it should be used later 
  print(item)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# let's find out even numbers in the list1 

for item in list1:
  if item % 2 == 0:
    print(item)

2
4
6
8
10

In [ ]:
# You can also use for loops for odd number

for item in list1:
  if item % 2 != 0:
    print(item)

1
3
5
7
9

In [ ]:
# Add all the number in the list1 

list1_sum = 0

for item in list1:
  list1_sum = list1_sum + item
print(list1_sum)

55

In [ ]:
# for loops in string 

for item in 'I am loving Python':
  print(item)

I

a
m

l
o
v
i
n
g

P
y
t
h
o
n

In [ ]:
# tuple unpacking 

list2 = [(1,2), (3,4), (5,6), (7,8)]

for tuple in list2:
  print(tuple)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [ ]:
# for loops with dictionaries 

dict1 = {'k1': 20, 'k2': 30, 'k3': 40}

for item in dict1:
  print(item)      # this only produces the key but we also want the value of the dictionaries. so remmeber the dict methods?

k1
k2
k3

In [ ]:
for key, value in dict1.items():
  print(key)
  print(value)

k1
20
k2
30
k3
40

### While loops
A while statement will repeatedly execute a single statement or group of statements as long as the condition is true.

In [ ]:
a = 0 

while a < 20:   
  a = a + 2     # it will continue to add 2 to each updated value of a until it reaches 20 (18 + 2)
  print(a) 
else: 
  print("It's done")

2
4
6
8
10
12
14
16
18
20
It's done

In [ ]:
# we have already learned the use of 'pass' before now let's see the use of 'break' and 'continue' 
a = 0 

while a < 20:   
  a = a + 2     # it will continue to add 2 to each updated value of a until it reaches 20 (18 + 2)
  print(a) 
  
  if a == 10:
    print('breaking because a == 10')    # if the condition meets here then it will stop the code execution and you will break out of the loop. 
    break 
  else:
    print('continued')                   # continue is used to continue the while loop if condition is not met before
    continue

2
continued
4
continued
6
continued
8
continued
10
breaking because a == 10

In [ ]:
# enumerate function in loops
list2 = ["eat", "sleep", "repeat"]
  
# printing the tuples in object directly
for item in enumerate(list2):
    print (item)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')

### List Comprehension
one lined for loops to build lists

In [ ]:
# example 

list1 = [a for a in 'Python']
list1

['P', 'y', 't', 'h', 'o', 'n']

In [ ]:
# use of if in list comprehesion
list2 = [x for x in range(11) if x % 2 == 0] 
list2

[0, 2, 4, 6, 8, 10]

In [ ]:
# use of nested list comprehension
list3 = [ x**2 for x in [x**2 for x in range(11)]]
list3

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

## Methods And Functions 
- Methods perform specific actions on an object and can also take arguments
- Functions help us use the same code multiple times without repeating the same code again and again. It helps us keep the code clean.

In [ ]:
# structure of a function 

def function_structure(argument1, arg2, agr3, etc):
  ''' docstring: use this to describe your function for future use
  '''
  # write your logic here 
  # return or print the result

In [ ]:
# creating a simple function 

def print_name(name):
  print(f'Hello,{name},how are you?')

In [ ]:
# calling our function 
print_name('Alex')  # to call a function use parenthesis

Hello,Alex,how are you?

In [ ]:
print_name # if you simply write the function without () then it will output

In [ ]:
# Difference between return and print 
# return function example: 
def sum_1(num1, num2):
  return(num1+num2)

In [ ]:
#print function example:
def sum_2(num1, num2):
  print(num1+num2)

In [ ]:
sum_1(1,2)

3

In [ ]:
sum_2(1,2)

3

In [ ]:
# saving the result 
return_result = sum_1(1,2)

In [ ]:
print_result = sum_2(1,2)

3

In [ ]:
print_result

In [ ]:
return_result

3

In [ ]:
type(print_result), type(return_result)

(NoneType, int)

In [ ]:
# check if the number is odd in the list and return them all 

def check_odd(num_list):
  odd_num_list = []
  for number in num_list:
    if number % 2 != 0:
      odd_num_list.append(number)
    else:
      pass
  return odd_num_list

In [ ]:
check_odd([1, 2, 3, 4, 5, 6, 7])

[1, 3, 5, 7]

In [ ]:
# lambda expression - one line function
#step 1 - first way
def square(num):
    return num **2

In [ ]:
square(3)

9

In [ ]:
# step 2 - second way
def square(num): return num**2

In [ ]:
# step 3 - third way - lambda expression
num_square = lambda num: num**2

In [ ]:
num_square(2)

4

In [ ]:
num_list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(map(lambda num: num ** 2, num_list_1)) # map function is used when you want to return the value of the function on iterable object

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
list(filter(lambda num: num%2 == 0, num_list_1)) # filter function is used only when the function returns the value in Boolean (True or False) that too on iterables

[2, 4, 6, 8, 10]

### Variable Scope in Python

In [ ]:
# Local Scope - A variable created inside a function belongs to the local scope of that function, and can only be used inside that function.

def myfunc():
  x = 300
  print(x)

myfunc()

300

In [ ]:
# Enclosing function locals - variable x is not available outside the function, but it is available for any function inside the function:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

In [ ]:
# Global Scope
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [ ]:
# Built-in - these are built in varibale like len
len([1,2,3])

3

In [ ]:
# Naming varibales: two separate variables, one available in the global scope (outside the function) and one available in the local scope (inside the function):
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

### Global Keyword

Rules of `global` Keyword
The basic rules for `global` keyword in Python are:

- When we create a variable inside a function, it is local by default.
- When we define a variable outside of a function, it is global by default. You - don't have to use the `global` keyword.
- We use the `global` keyword to read and write a global variable inside a function.
- Use of the `global` keyword outside a function has no effect.

further readings: 
- https://docs.python.org/3/tutorial/classes.html#python-scopes-and-namespaces
- https://www.programiz.com/python-programming/global-keyword 
- https://www.w3schools.com/python/python_scope.asp

In [ ]:
# Use to change global varible from local scope or change the value of global variable under a function
# here x can be used globally outside the function
def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

In [ ]:
# Here global keyword is used to change the value of the global variable 
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

###` *args` and `**kwargs`

In [ ]:
# Use args when you want to use arbitrary number of arguments in your function 
# you don't need to use th word args but any word after * works but we use this as convention - This is called non-keyword arguments
# pre-defined arguments are called positional arguments 

# example - sum of number plus 5 

def func(a, b, c, d, e, f):
  return sum((a, b, c, d, e, f)) + 5  # notice here sum function takes two arguments so make sure keep all the params in brackets to avoid errror

func(1, 2, 3, 4, 5, 6)

26

In [ ]:
# Insteading of doing what we did above we can use the *args 

def sum_func(*args):
  return sum(args) + 5 

sum_func(2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

82

In [ ]:
# Use of **kwargs: keyword arguments - **kwargs builds a dictionary of key/value pairs

def myfunc(**kwargs):
    if 'book' in kwargs:
        print(f"My favorite book is {kwargs['book']}") 
    else:
        print("I don't read books")
        
myfunc(book='outliers')

My favorite book is outliers

In [ ]:
myfunc()

I don't read books

In [ ]:
# using args and kwargs at the same time: 
def myFun(*args, **kwargs):
    print("args: ", args)
    print("kwargs: ", kwargs)
  
  
# make sure to use agrs before kwargs otherwise it will raise a syntax error
myFun('book', 'tea', name="alex", age = 20)

args:  ('book', 'tea')
kwargs:  {'name': 'alex', 'age': 20}

## OOP In Python - Object Oriented Programming 
In Python, object-oriented Programming (OOPs) is a programming paradigm that uses objects and classes in programming. It aims to implement real-world entities like inheritance, polymorphisms, encapsulation, etc. in the programming. Everything is object in Python. To create your own object you can use `Class`

In [ ]:
# check the type of objects we already know
print(type(1))
print(type([]))
print(type(()))
print(type({}))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

#### Basic Definitions 
1. Class: We use class to create user defined objects 
2. An instance is a specific object created from a particular class. 
3. An attribute is a characteristic of an object.
4. A method is an operation we can perform with the object.

In [ ]:
# creating a basic class
class Books: # notice here we use capital letter to define the class 
  pass

# instantitaing the created classes 
b = Books() # b here is called instance of the class

In [ ]:
# creating attributes 
class Books:
  def __init__(self, price, book_name, author):  
    # here __init__ function works as constructor and helps us creates the attributes of the calss. Self keyword works as reference to the instance of the class

    self.price = price   # by convention we use self.price or price everywhere which is same name as the parameter but just know that these names can be different too. 
    self.book_name = book_name
    self.author = author

In [ ]:
mybook = Books(price=4000, book_name = 'Human Compatible', author = 'Stuart J. Russell')

In [ ]:
mybook.price

4000

In [ ]:
mybook.book_name

'Human Compatible'

In [ ]:
mybook.author

'Stuart J. Russell'

In [ ]:
# creating class object attribute
class Books:

  # class object attribute. available for every instance of the classs and is same
  genre = 'non-fiction'
  def __init__(self, price, book_name, author):  
   
    self.price = price  
    self.book_name = book_name
    self.author = author

In [ ]:
mybook = Books(price=4000, book_name = 'Human Compatible', author = 'Stuart J. Russell')

In [ ]:
mybook.genre  #notice genre is available for it already without defining it there

'non-fiction'

In [ ]:
# class methods : Methods are functions defined inside the body of a class used to perform operations with the attributes of our objects.

class Books:

  genre = 'non-fiction'
  def __init__(self, price, book_name, author):  
   
    self.price = price  
    self.book_name = book_name
    self.author = author 
  
  def prologue(self):
    print("I am the prologue of the book {}".format(self.book_name))  # notice here we are using self.book_name because it is used from the previous attributes 
  
  def acknowledgement(self, number):
    print("I am the prologue of the book {} and number is {}".format(self.book_name, number)) # while number is not used with self because it is user define value

In [ ]:
mybook = Books(price=4000, book_name = 'Human Compatible', author = 'Stuart J. Russell')

In [ ]:
mybook.prologue()

I am the prologue of the book Human Compatible

In [ ]:
mybook.acknowledgement()  # it will give error because it is expecting an argument number

TypeError: ignored

In [ ]:
mybook.acknowledgement(10)

I am the prologue of the book Human Compatible and number is 10

In [ ]:
# class to print radius, area and circumference of a circle

class Circle:
    pi = 3.14

    # Circle gets instantiated with a radius (default is 1)
    def __init__(self, radius=10):
        self.radius = radius 
        self.area = radius * radius * Circle.pi  # you can also use self.pi here but to make it apparent that it is class object attribute we use Class dot pi or whatever it is

    # Method for getting Circumference
    def circumference(self):
        return self.radius * self.pi * 2


c = Circle()

print('Radius of the circle is: ', c.radius)
print('Area of the circle is: ', c.area)
print('Circumference of the circle is: ',c.circumference())

Radius of the circle is:  10
Area of the circle is:  314.0
Circumference of the circle is:  62.800000000000004

In [ ]:
# you can also enter your own value of the radius 
d = Circle(100)

d.radius, d.area, d.circumference()

(100, 31400.0, 628.0)

###Inheritance 
Inheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class.

In [ ]:
# Base class 
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [ ]:
# Child Clas 
class Student(Person):  #Student class now has the same properties and methods as the Person class.
  pass

In [ ]:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):   #you can have the child class __init__ methods if you want to override the parent class __init__ method. It won't inherit it but
    Person.__init__(self, fname, lname)  # to inherit the properties of __init__ method of parent class you can call __init__ like this

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)   # Notice here we are using super() function. This allows us to inherit all the methods and properties of parent class. 
    self.year = year

In [ ]:
x = Student("Mike", "Olsen", 2019)

In [ ]:
# you can add your own methods to the subclass as well 
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

In [ ]:
x = Student("Mike", "Olsen", 2019)

In [ ]:
x.welcome()

Welcome Mike Olsen to the class of 2019

#### Polymorphism 
It refers to the way in which different object classes can share the same method name, and those methods can be called from the same place even though a variety of different objects might be passed in

In [ ]:
class Cat:
    def __init__(self, name, breed):
        self.name = name
        self.breed = breed

    def info(self):
        print(f"I am a cat. My name is {self.name}. I am {self.breed}.")

    def make_sound(self):
        print("Meow")


class Dog:
    def __init__(self, name, breed):
        self.name = name
        self.breed = breed

    def info(self):
        print(f"I am a dog. My name is {self.name}. I am {self.breed}.")

    def make_sound(self):
        print("Bark")

In [ ]:
cat1 = Cat("Leo", "Scottish Fold")
dog1 = Dog("Max", "Bulldog")

for animal in (cat1, dog1):
    animal.make_sound()
    animal.info()
    animal.make_sound()

Meow
I am a cat. My name is Leo. I am Scottish Fold.
Meow
Bark
I am a dog. My name is Max. I am Bulldog.
Bark

In real world we create an abstract class ( means a clas that won't be instantiated) only its child class will be insantiated. For ex, you created an Animal class and subclasses Cat, Dog and Elephant. So, here Animal is abstract class sharing some basic properities with other subclass but is never insantiated. 

Real world example of class can be opening different files. A class to open files and its subclasses can be different types of file. This way you can create your own object and methods and reinvent new things in Python 🤤

#### Special Methods
So, there are some methods defined in Python like len etc. If you want to use these special methods in user defined classes then use this. Also called Dunder of magic methods.

In [ ]:
class Book:
    def __init__(self, title, author, pages):
        self.title = title
        self.author = author
        self.pages = pages

In [ ]:
mybook = Book("Outliers", "Malcolm Gladwell", 304)

In [ ]:
print(mybook)  # This will output where my book is stored in the memory. It won't print anything because it is user defined class

<__main__.Book object at 0x7f96e84defa0>

In [ ]:
str(mybook)  # str is python method but not avialable to our class

'<__main__.Book object at 0x7f96e84defa0>'

In [ ]:
len(mybook) # in the manner this will return error our object does not have any length

TypeError: ignored

In [ ]:
class Book:
    def __init__(self, title, author, pages):
        print("A book is created")
        self.title = title
        self.author = author
        self.pages = pages

    def __str__(self):
        return f"{self.title} by {self.author}"

    def __len__(self):
        return self.pages

    def __del__(self):  # del keyword is used to delete our variable from the computer memory so once you use del keyword, you can show users that something is deleted. 
        print("A book is deleted from the computer memory")

In [ ]:
mybook = Book("Outliers", "Malcolm Gladwell", 304)

A book is created

In [ ]:
str(mybook)

'Outliers by Malcolm Gladwell'

In [ ]:
len(mybook)

304

In [ ]:
del mybook

A book is deleted from the computer memory

Further Read: https://docs.python.org/3/tutorial/classes.html

##Modules and packages 
Modules are python scripts where as packages are collection of modules organized in certain manner when we have so many codes. We are not covering Modules and Packages for now because it is not needed for our Machines Learning in the course. 

If you want to learn about modules and packages please visit these webistes. 
1. https://python4astronomers.github.io/installation/packages.html
2. https://www.w3schools.com/python/python_modules.asp 
3. https://docs.python.org/3/tutorial/modules.html#packages

In [ ]:
# To explore any module you can use dir and help function 

import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [ ]:
help(math.log)  # to get help related to any function in the module you can use help

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

## Errors And Exception Handling

In [ ]:
# We use exception handling to handle any possibility of error in our code especially when a user is interacting with our code. 
# we have try, except, else and finally to handle errors. 
# codes within try are our normal code. 
# except and else are used to show users some message if errors occur
# code with finally will always be run 
# for ex: here x is not defined so it will raise and error to handle the error we are using except block to show user a message.  

try:
  print(x)
except:
  print("An exception occurred")

<__main__.Student object at 0x7f96e8551040>

In [ ]:
# use the else keyword to define a block of code to be executed if no errors were raised
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [ ]:
#finally block, if specified, will be executed regardless if the try block raises an error or not

try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

In [ ]:
# useful to close objects and cleanup resources 
try:
  f = open("demofile.txt")  # second param is missing here 'w', "r"
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

In [ ]:
x = input("Enter a number")

if type(x) != int: 
  raise Exception("Sorry, only numbers are allowed")

Enter a numberword

Exception: ignored

## Unit Testing 
Unit testing is not covered here but it's also important. We will create seperate videos on topics that are not covered here

## Decorators

decorator is nothing but a function that modifies another function. Everything is an object in Python so is function. So a function can be used as an argument within another function. There can be functions within functions.

In [ ]:
def divide(a, b):
    return a/b

In [ ]:
def smart_divide(func):
    def inner(a, b):
        print("I am going to divide", a, "and", b)
        if b == 0:
            print("Whoops! cannot divide")
            return

        return func(a, b)
    return inner

@smart_divide  # this is equivalent to calling divide = smart_divide(divide)
def divide(a, b):
    print(a/b)

In [ ]:
divide(2,5)

I am going to divide 2 and 5
0.4

Further Read On Decorators: https://www.programiz.com/python-programming/decorator

## generators 
When you are using yield with a function it will become a genertor. It is used in code to save some memory. 
https://stackoverflow.com/questions/1756096/understanding-generators-in-python 

https://www.programiz.com/python-programming/generator

In [ ]:
def numcubes(n):
    for num in range(n):
        yield num**3

In [ ]:
for x in numcubes(10):
    print(x)             # we use generators where we don’t want to allocate the memory for all of the results at the same time like lists etc.

0
1
8
27
64
125
216
343
512
729

In [ ]:
s = 'Python'

#Iterate over string
for letters in s:
    print(letters)

P
y
t
h
o
n

In [ ]:
next(s)  # next() function allows us to access the next element in a sequence

TypeError: ignored

In [ ]:
# string object supports iteration, but we can not directly iterate over it as we could with a generator function as you can see above. So we can do that by iter() function

In [ ]:
st = iter(s)

In [ ]:
next(st)

'P'

In [ ]:
next(st)

'y'

In [ ]:
next(st)

't'

## Do check out Python Collection Module, Datetime module, Maths and Random Module on your own to get some understanding. 

https://www.w3schools.com/python/gloss_python_module_built-in.asp

https://www.programiz.com/python-programming/modules

## Practice Python  
Code for like 2- 3 weeks to master your basic concepts related to Python 

1. https://www.w3resource.com/python-exercises/ 
2. https://pynative.com/python-exercises-with-solutions/
3. https://www.practicepython.org/ 
4. https://www.dataquest.io/blog/python-practice/ 
5. https://www.geeksforgeeks.org/python-exercises-practice-questions-and-solutions/
6. https://www.w3schools.com/python/python_exercises.asp 
7. https://www.udemy.com/course/python-video-workbook/